/* Base CSS Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

:root {
    --primary-color: #1a2229;
    --primary-light: rgba(33, 41, 46, 0.937);
    --primary-dark: #15191f77;

    --secondary-color: #d6dddd;
    --secondary-light: #ffffff;
    --secondary-dark: #dadadaaf;

    --accent-color: #f68a2f;
    --accent-light: #f59e4c;
    --accent-dark: #c96d21dc;


    --teal: #4A8FA8;
    --danger: #E8543A;
    --success: #5BA08A;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Navbar */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4.5rem;
    z-index: 1000;
    padding-inline: 4rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
    padding-top: 4.5rem;
}

section {
    scroll-margin-top: 3.5rem;
    padding-inline: 4rem;
    padding-top: 2rem;
    margin-bottom: 5rem;
}

.navbar__logo {
    font-size: 2.5rem;
    transition: all 0.3s ease;
    text-transform: uppercase;

}

.navbar__logo:hover {
    transform: translatex(10px) scale(1.1);
}

.navbar__orange {
    width: 1.90rem;
    display: inline;
}

.navbar__links {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-dark);
}

.navbar__links a {
    transition: all 0.3s ease;
}

.navbar__links a:hover {
    color: var(--accent-color);
}

.navbar__button {
    padding: 0.4rem 1rem;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease;
}

.navbar__button:hover {
    background-color: var(--accent-dark);
    transform: translatey(-3px) scale(1.05);
}

.navbar__button:active {
    transform: scale(1);
}

/* Hero */

#hero {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 4.5rem);
    gap: 4rem;
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    flex: 10 2 10;
}

.hero__tag {
    border: 1px solid var(--accent-color);
    align-self: flex-start;
    padding: 0.3rem 0.8rem;
    text-transform: uppercase;
    color: var(--accent-color);
    background-color: rgba(248, 90, 17, 0.199);
    font-weight: bold;
    border-radius: 20px;
}

.hero__tagline {
    font-size: 5rem;
    line-height: 0.95;
}

.highlight {
    color: var(--accent-light);
}

.hero__sub {
    color: var(--secondary-dark);
}

.hero__button-group {
    display: flex;
    gap: 1rem;
}

.hero__button {
    padding: 0.6rem 0.6rem;
    border-radius: 7px;
    border: 1px solid;
    font-weight: bold;
}

.hero__button--waitlist {
    color: var(--secondary-color);
    background-color: var(--accent-color);
    font-weight: bold;
    border: none;
    transition: all 0.3s ease;
}

.hero__button--waitlist:hover {
    background-color: var(--accent-dark);
    transform: translatey(-3px) scale(1.05);
}

.hero__button--waitlist:active {
    transform: scale(1);
}

.hero__button--products {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: bold;
    border: 1px solid rgba(76, 86, 94, 0.937);
    ;
    transition: all 0.3s ease;
}

.hero__button--products:hover {
    background-color: var(--primary-dark);
    transform: translatey(-3px) scale(1.05);
}

.hero__button--products:active {
    transform: scale(1);
}

.hero__img {
    width: 100rem;

}

.hero__img-phone {
    border: 1px solid none;
    border-radius: 10px;
}

/* Features */

#features {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.features__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 35rem;
}

.features__tag {
    color: var(--accent-color);
    text-transform: uppercase;
    font-weight: bold;
}

.features__tagline {
    font-size: 3rem;
}

.features__sub {
    color: var(--secondary-dark);
}

.features__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.features__card {
    border: 1px solid none;
    background-color: var(--primary-dark);
    padding: 2rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    transition: all 0.3s ease;
}

.features__card:hover {
    background-color: var(--primary-light);
    transform: scale(1.02);
}

.features__icon {
    border: 1px solid var(--accent-color);
    background-color: #c96d2128;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
}

.features__title {
    font-size: 1.3rem;
    font-weight: bold;
}

.features__desc {
    color: var(--secondary-dark);

}

/* Products */

#products {
    display: flex;
    flex-direction: column;
}

.products__tagline {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.products__img {
    width: 15rem;
    transition: all 0.3s ease;
}

.products__img:hover {
    transform: scale(1.15) translateY(-15px);
}

.products__grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    text-align: center;
    line-height: 1.5;
}

.products__card--big {
    justify-self: center;
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: flex-start;

}

.products__card--big>.products__img {
    width: 35rem;
}

.products__card--small {
    grid-column: span 1;
    justify-self: center;
}

.products__name {
    font-weight: bold;
    font-size: 1.3rem;
}

.products__sub {
    color: var(--secondary-dark);
}

/* Preorder */

#preorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.preorder__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preorder__tag {
    color: var(--accent-color);
    text-transform: uppercase;
    font-weight: bold;
}

.preorder__tagline {
    font-size: 4rem;
}

.preorder__sub {
    color: var(--secondary-dark);
}

.preorder__countdown {
    display: flex;
    gap: 2rem;
}

.preorder__countdown-container {
    background-color: #c96d2128;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
    padding: 1rem 2rem;
    color: var(--secondary-dark);
    text-transform: uppercase;
    border: 1px solid var(--accent-color);
    line-height: 1.3;
    font-size: 0.8rem;
    border-radius: 13px;
}

.preorder__countdown-container span {
    color: var(--accent-color);
    font-size: 4rem;
    font-weight: bold;
}

.preorder__button {
    padding: 1rem 2rem;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    font-weight: bold;
    border-radius: 8px;
    border: none;
    transition: all 0.3s ease;
    font-size: 1.3rem;
}

.preorder__button:hover {
    background-color: var(--accent-dark);
    transform: translatey(-3px) scale(1.05);
}